*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{ 
   display: flex;
margin: 100%;
   width: 100%;
}
.para{
width: 100%;
color: white;
    background-color: #004f80;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    
}
.abbas{
    padding-top: 0px;
display: inline-block;
}

.secondheader{
display: flex ;
padding: 8px;
width: 100%;
background-color: hsl(209, 44%, 14%);
padding-left: 40px;
}
.images{
    font-size: 50px;
    padding-top: 30px;
    height: 65px;
    width: 200px;
}
.underlist{
    float: right;
    padding-left: 210px;

}
.lin{
    display: inline-block;
}


.para a{
    color: white;
}
.navi{
    font-size: 20px;
background-color: transparent;;
color: white;
padding: 25px;
font-weight: 800%;
font-family:serif;
text-align: center;
text-decoration: none;
padding-left: 20px;
}
.navi:hover{
    color: blue;
    cursor: pointer;
}

.freetrial{
    background-color: transparent;
color: white;

font-size: 18px;
font-family:serif;
border-radius: 5px;
padding: 10px 10px;
width: 140px;
}
.freetrial:hover{
background-color: blue;
cursor: pointer;
transition: 05.s;
}
.test{
    padding-top: 110px;
}
.heading{
    width: 100%;
    color: white;
    font-size: 65px;
    padding: 90px;
    padding-right: 454px;
font-family:sans-serif;
}
.heading-para{
    font-size: 24px;
    padding-top: 30px;
    width: 100%;
   
    }

   .Get-Started-Free{
    color: white;
background-color: #0e8aff;
font-size: 17px;
border: none;
border-radius: 5px;
padding: 15px 25px;
   
}
.Get-Started-Free:hover{
    color: white;
   background-color: red;
    cursor: pointer;
    transition: 0.5s;
    font-size:36%;
    
}

   .Contact-Sales{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 17px;
}
    .Contact-Sales:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(240, 0, 0);
        transition: 0.5s;
         cursor: pointer;
         font-size:36%;
      }
    
    .chevron{font-size: 15px;
}
